<style>

    .ColorMode,.social,section{
        color:black;
    }
    .animated-stripes {
        background: 
        linear-gradient(130deg, #b2d7ff 15%, transparent 15.5%), 
        linear-gradient(220deg, #b2d7ff 15%, transparent 15.5%),
        linear-gradient(45deg, #f0f9ff 30%, transparent 30.5%), 
        linear-gradient(135deg, #ffffff 30%, transparent 30.5%), 
        linear-gradient(225deg, #e6f7ff 15%, transparent 15.5%), 
        linear-gradient(315deg, #d1ebff 15%, transparent 15.5%), 
        linear-gradient(75deg, #99ccff 20%, transparent 20.5%), 
        linear-gradient(105deg, #e0f2ff 10%, transparent 10.5%),
        linear-gradient(30deg, #ffffff 35%, transparent 35.5%),
        linear-gradient(60deg, #eaf7ff 15%, transparent 15.5%);
    
    background-size: 120px 120px;
    background-position: center;
    background-color: #cce7ff; /* Soft blue base to create cool tone */
    
    
        background-size: 100px 100px;
        animation: stripesAnimation 5s linear infinite;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    @keyframes stripesAnimation {
        0% {
            background-position: 0 0, 0 0, 0 0, 0 0;
        }
        100% {
            background-position: 100px 100px, 100px 100px, 100px 100px, 100px 100px;
        }
    }
</style>

<div class="animated-stripes p-8 rounded-xl shadow-xl transform transition duration-300 ease-in-out  hover:shadow-2xl flex flex-col items-center">

    {% include 'portfolio/main-info-phone.html'%}
</div>
