.env

#virtual env
env/

# Django specific
*.log
*.pot
*.pyc
__pycache__/
# db.sqlite3 #For demo project showcase ,Hosted in free Hosting
# media/     #For demo project showcase ,Hosted in free Hosting

# Django migrations


# Tailwind CSS
node_modules/
tailwind.config.js

# Visual Studio Code
.vscode/

package-lock.json
package.json
