<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- <script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script> -->
    <style>
      .mobile-screen {
        width: 340px;
        height: 700px;
      }
      @media (max-width: 640px) {
        .mobile-screen {
          width: 250px;
          height: 500px;
        }
      }
      .no-tap-highlight {
        -webkit-tap-highlight-color: transparent;
      }
      
      .hide-scrollbar {
        /* Hide scrollbar for Chrome, Safari, and Opera */
        scrollbar-width: none; /* Firefox */
      }
      
      .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    </style>
  </head>
  <body>
    <main class="flex flex-col items-center justify-betweenp-12 md:flex-row md:space-x-4 space-y-4 md:space-y-0 hide-scrollbar" style="height:95vh">
    <div class="flex-1 m-5 order-2 md:order-1  h-[90vh] ">
        <div class="div overflow-y-auto p-4 hide-scrollbar" style="height:90vh">
          <div class="max-w-4xl mx-auto bg-white p-8 shadow-lg rounded-lg mt-10">

          <form id="profile_form" method="POST" action="/update_images/" enctype="multipart/form-data">
          {% csrf_token %}
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="profile_img">Profile Image</label>
                  <input type="file" id="profile_img" name="profile_img" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Submit
                  </button>
              </div>
            </form>
          <!-- <form id="user-info-form" enctype="multipart/form-data"> -->
              <!-- Name -->
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="name">Name</label>
                  <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                      <span class="flex items-center justify-center w-10 text-gray-500">
                          <i class="fas fa-user"></i>
                      </span>
                      <input type="text" id="name" name="name" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.name %}{{ user_info.name }}{% else %}Enter your name{% endif %}" />
                  </div>
              </div>
              <!-- profession -->
              <div class="mb-6">
                <label class="block text-gray-700 text-lg font-bold mb-2" for="Profession">Profession</label>
                <input id="profession" name="profession" class="w-full p-4 text-gray-700 focus:outline-none" rows="4" placeholder="{% if user_info and user_info.profession %}{{ user_info.profession }}{% else %}Write your Position...{% endif %}">
            </div>
              <!-- Bio -->
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="bio">Bio</label>
                  <textarea id="bio" name="bio" class="w-full p-4 text-gray-700 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" rows="4" placeholder="{% if user_info and user_info.bio_txt %}{{ user_info.bio_txt }}{% else %}Write your bio...{% endif %}"></textarea>
              </div>
      
              <!-- Social Links -->
              <div class="grid grid-cols-2 gap-4 mb-6">
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="instagram">Instagram</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-instagram"></i>
                          </span>
                          <input type="text" id="instagram" name="instagram" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.instagram_link %}{{ user_info.instagram_link }}{% else %}Instagram Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="facebook">Facebook</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-facebook"></i>
                          </span>
                          <input type="text" id="facebook" name="facebook" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.facebook_link %}{{ user_info.facebook_link }}{% else %}Facebook Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="tiktok">TikTok</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-tiktok"></i>
                          </span>
                          <input type="text" id="tiktok" name="tiktok" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.tiktok_link %}{{ user_info.tiktok_link }}{% else %}TikTok Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="youtube">YouTube</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-youtube"></i>
                          </span>
                          <input type="text" id="youtube" name="youtube" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.youtube_link %}{{ user_info.youtube_link }}{% else %}YouTube Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="x">X (Twitter)</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-x"></i> <!-- Use appropriate icon for X -->
                          </span>
                          <input type="text" id="x" name="x" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.x_link %}{{ user_info.x_link }}{% else %}X Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="spotify">Spotify</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-spotify"></i>
                          </span>
                          <input type="text" id="spotify" name="spotify" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.spotify_link %}{{ user_info.spotify_link }}{% else %}Spotify Link{% endif %}" />
                      </div>
                  </div>
                  <div>
                      <label class="block text-gray-700 text-lg font-bold mb-2" for="linkedin">LinkedIn</label>
                      <div class="flex items-center border rounded-lg focus-within:ring-2 focus-within:ring-blue-500">
                          <span class="flex items-center justify-center w-10 text-gray-500">
                              <i class="fab fa-linkedin"></i>
                          </span>
                          <input type="text" id="linkedin" name="linkedin" class="w-full p-4 text-gray-700 focus:outline-none" placeholder="{% if user_info and user_info.linkedin_link %}{{ user_info.linkedin_link }}{% else %}LinkedIn Link{% endif %}" />
                      </div>
                  </div>
              </div>
      
              <!-- Thumbnail Section -->
              <div class="mb-6">
                <form id="thumbnail_form" method="POST" action="/update_images/" enctype="multipart/form-data">
                  {% csrf_token %}
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="thumbnail_img">Thumbnail Image</label>
                  <input type="file" id="highlight_thumbnail_image" name="highlight_thumbnail_image" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Submit
                  </button>
                  </form>
                  <textarea id="highlight_title" name="highlight_title" class="w-full mt-4 p-4 text-gray-700 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" rows="2" placeholder="{% if user_info and user_info.highlight_title %}{{ user_info.highlight_title }}{% else %}Highlight Title{% endif %}"></textarea>
              </div>
      
              <!-- Section 1 -->
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="section1_name">Section 1 Name</label>
                  <input type="text" id="section1_name" class="w-full p-4 text-gray-700 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter section name" />
              </div>
      
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="section1_img">Section 1 Image</label>
                  <input type="file" id="section1_img" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
              </div>
      
              <!-- Title -->
              <div class="mb-6">
                  <label class="block text-gray-700 text-lg font-bold mb-2" for="title">Title</label>
                  <input type="text" id="title" class="w-full p-4 text-gray-700 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title" />
              </div>
      
            <!-- </form> -->
        </div>
    

        </div>
    </div>
        <div class="div flex-2 m-5 order-1 md:order-2 w-[300px] h-[85vh] relative p-4">
            <div
            x-data="smartphone"
            class="shadow-2xl border-8 mobile-screen border-gray-800 rounded-3xl bg-center bg-no-repeat bg-cover overflow-hidden  flex flex-col justify-start overflow-y-auto m-4  hide-scrollbar"
            :class="background.current"
          >
            <!-- Battery -->
            <div
              class="flex flex-row justify-end items-center pr-3 transition-colors bg-black text-white sticky"
              :class="step > 2 ? 'bg-gray-100' : 'bg-transparent'"
            >
              
       
              <p
                class="text-xs font-semibold"
                :class="step > 2 ? 'text-gray-800' : 'text-white'"
                x-text="batteryPower"
              >
                100%
              </p>
              <svg
                class="fill-current h-4 w-6 text-white"
                :class="step > 2 ? 'text-gray-800' : 'text-white'"
                viewBox="0 0 20 20"
              >
                <path
                  d="M18.834,6.961h-0.655V5.18c0-0.459-0.373-0.834-0.834-0.834H1.166c-0.461,0-0.834,0.375-0.834,0.834v9.64c0,0.461,0.373,0.834,0.834,0.834h16.179c0.461,0,0.834-0.373,0.834-0.834v-1.711h0.655c0.461,0,0.834-0.372,0.834-0.834v-4.48C19.669,7.334,19.295,6.961,18.834,6.961z M16.511,13.986H2V6.014h14.511v1.781v4.48V13.986z"
                ></path>
                <rect x="3" y="6.775" width="13" height="6.448"></rect>
              </svg>
            </div>
          <!-- here goes my content -->
          <div class="div bg-white text-black flex flex-col content items-center p-2">
            <!-- Navbar Section -->

        
            <!-- Personal Info Section -->
            <section class="p-4 text-center w-full max-w-md">
              <div class="flex flex-col items-center">
                <!-- Profile Image -->
                {% if user_info.profile_image %}
                <div class="w-20 h-20 bg-black rounded-full mb-4">
                  <img src="{{ user_info.profile_image.url }}" alt="Profile" class="rounded-full w-full h-full">
                </div>
                {% endif %}
                <!-- Name and Verified Tick -->
                <!-- <div class="flex items-center space-x-2">
                  <span class="text-2xl font-semibold text-center">Kushal Baral</span>
                  <svg class="w-6 h-6 text-blue-500 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M9 12l2 2 4-4"/>
                  </svg>
                </div> -->
                <!-- Bio -->
                <header class="animated-bg  text-center relative z-10">
                  {% if user_info.name %}
                  <h1 class="text-xl font-bold mb-1 animate-pulse">@{{user_info.name}}</h1>
                    {% endif %}
                    {% if user_info.profession %}
                    <!-- TODO:add new field professsion in model and render -->
                      <p class="text-gray-600 dark:text-gray-400">{{ user_info.profession}}</p>
                      {% endif %}
                    {% if user_info.bio_txt %}
                  <pre class="text-1xl">{{user_info.bio_txt}}</pre>
                    {% endif %}
                  
              </header>

              </div>
            </section>
        
            <!-- Social Media Section (Closer Icons, Centered) -->
            <section class="p-4 w-full max-w-md">
              <div class="flex justify-center space-x-1">
                <!-- CDN logos of social media -->
                {% if user_info.facebook_link %}
                <a href="{{user_info.facebook_link}}"><img src="https://img.icons8.com/ios-filled/50/000000/facebook--v1.png" alt="Facebook" class="w-8 h-8"></a>
                {% endif %}
                {% if user_info.x_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/twitter--v1.png" alt="Twitter" class="w-8 h-8"></a>
                {% endif %}

                {% if user_info.linkedin_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="LinkedIn" class="w-8 h-8"></a>
                {% endif %}

                {% if user_info.instagram_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/instagram.png" alt="LinkedIn" class="w-8 h-8"></a>
                {% endif %}
                {% if user_info.tiktok_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/tiktok.png" alt="LinkedIn" class="w-8 h-8"></a>
                {% endif %}
                {% if user_info.youtube_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/youtube-play.png" alt="LinkedIn" class="w-8 h-8"></a>
                {% endif %}
                {% if user_info.spotify_link %}
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/spotify.png" alt="LinkedIn" class="w-8 h-8"></a>
                {% endif %}


              </div>
            </section>
        
            <!-- Picture and Text Section -->
            <section class="p-4 w-full max-w-md">
              <div class="relative ">
                {% if user_info.highlight_thumbnail_image%}
                <img src="{{user_info.highlight_thumbnail_image.url}}" alt="Picture" class="w-full h-64 object-cover rounded-lg ">
                {% endif%}
                {% if user_info.highlight_title %}
                
                <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white p-4 text-center rounded-b-lg">
                   {{ user_info.highlight_title}}
                </div>
                {% endif %}
              </div>
            </section>
        
            <!-- Notifications Section 1 -->
            <section class="p-4 w-full max-w-md">
              <h2 class="text-xl font-bold mb-4">Notifications</h2>
              <div class="space-y-4">
                <!-- Notification 1 -->
                <div class="flex items-center shadow  p-4 rounded-2xl">
                  <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png" alt="User" class="w-10 h-10 rounded-full">
                  <p class="flex-grow px-4">Someone liked your post!</p>
                  <button class="">
                    <img src="https://img.icons8.com/ios-filled/50/000000/menu-2.png" alt="Menu" class="w-5 h-5">
                  </button>
                </div>
                <!-- Notification 2 -->
                <div class="flex items-center shadow  p-4 rounded-2xl">
                  <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png" alt="User" class="w-10 h-10 rounded-full">
                  <p class="flex-grow px-4">Someone liked your post!</p>
                  <button class="">
                    <img src="https://img.icons8.com/ios-filled/50/000000/menu-2.png" alt="Menu" class="w-5 h-5">
                  </button>
                </div>
                <!-- Notification 3 -->
                <div class="flex items-center shadow  p-4 rounded-2xl">
                  <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png" alt="User" class="w-10 h-10 rounded-full">
                  <p class="flex-grow px-4">Someone liked your post!</p>
                  <button class="">
                    <img src="https://img.icons8.com/ios-filled/50/000000/menu-2.png" alt="Menu" class="w-5 h-5">
                  </button>
                </div>
              </div>
            </section>
        
            <!-- Notification Section 2 (More Rounded Corners) -->
            <section class="p-4 w-full max-w-md">
              <h2 class="text-xl font-bold mb-4">Updates</h2>
              <div class="space-y-4">
                <!-- Update 1 -->
                <div class="flex items-center shadow  p-4 rounded-2xl">
                  <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png" alt="User" class="w-10 h-10 rounded-full">
                  <p class="flex-grow px-4">Someone liked your post!</p>
                  <button class="">
                    <img src="https://img.icons8.com/ios-filled/50/000000/menu-2.png" alt="Menu" class="w-5 h-5">
                  </button>
                </div>
                <!-- Update 2 -->
                <div class="flex items-center shadow  p-4 rounded-2xl">
                  <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png" alt="User" class="w-10 h-10 rounded-full">
                  <p class="flex-grow px-4">Someone liked your post!</p>
                  <button class="">
                    <img src="https://img.icons8.com/ios-filled/50/000000/menu-2.png" alt="Menu" class="w-5 h-5">
                  </button>
                </div>
              </div>
            </section>
          </div>

          </div>
        </div>

    </main>
    <script>
      let timeout = null;
  
      function debounceUpdate(field, value) {
          clearTimeout(timeout);  // Clear the previous timeout
  
          timeout = setTimeout(function() {
              const data = {};
              data[field] = value;
  
              fetch('/update_user_info/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      // No CSRF token since we're using csrf_exempt, but add it if required
                  },
                  body: JSON.stringify(data)
              })
              .then(response => response.json())
              .then(data => {
                  console.log(data.message);  // Log the success message
              })
              .catch(error => console.error('Error:', error));
          }, 1000);  // 5 seconds delay (debounce)
      }
  
      document.getElementById('name').addEventListener('input', function() {
        debounceUpdate('name', this.value);
    });
    document.getElementById('bio').addEventListener('input', function() {
      console.log("Textarea input detected");
        debounceUpdate('bio_txt', this.value);
    });
    document.getElementById('profession').addEventListener('input', function() {
        debounceUpdate('profession', this.value);
    });
    document.getElementById('facebook').addEventListener('input', function() {
        debounceUpdate('facebook_link', this.value);
    });
    document.getElementById('instagram').addEventListener('input', function() {
        debounceUpdate('instagram_link', this.value);
    });
    document.getElementById('tiktok').addEventListener('input', function() {
        debounceUpdate('tiktok_link', this.value);
    });
    document.getElementById('youtube').addEventListener('input', function() {
        debounceUpdate('youtube_link', this.value);
    });
    document.getElementById('x').addEventListener('input', function() {
        debounceUpdate('x_link', this.value);
    });
    document.getElementById('spotify').addEventListener('input', function() {
        debounceUpdate('spotify_link', this.value);
    });
    document.getElementById('linkedin').addEventListener('input', function() {
        debounceUpdate('linkedin_link', this.value);
    });

    document.getElementById('highlight_title').addEventListener('change', function() {
      debounceUpdate('highlight_title', this.value);  // Handle file input for thumbnail title
  });
   // document.getElementById('section1_name').addEventListener('input', function() {
   //     debounceUpdate('section1_name', this.value);
    //});
    //document.getElementById('section1_title').addEventListener('input', function() {
    //    debounceUpdate('section1_title', this.value);
    //});
    //document.getElementById('section1_image').addEventListener('change', function() {
    //    debounceUpdate('section1_image', this.files[0]);  // Handle file input for section image
    //});


  </script>
  
  </body>
</html>