      <!-- Personal Info Section -->
       <div class="flex flex-col items-center justify-between ">
      <section class="p-4 text-center w-full max-w-md ColorMode">
        <div class="flex flex-col items-center">
          <!-- Profile Image -->
          {% if user_info.profile_image %}
          <div class="w-20 h-20 bg-black rounded-full mb-4">
            <img src="{{ user_info.profile_image.url }}" alt="Profile" class="rounded-full w-full h-full">
          </div>
          {% endif %}
          <!-- Bio -->
          <header class="animated-bg  text-center relative z-10">
            {% if user_info.name %}
            <h1 class="text-xl font-bold mb-1 animate-pulse">@{{user_info.name}}</h1>
              {% endif %}
              {% if user_info.profession %}
              <!-- TODO:add new field professsion in model and render -->
                <p class="text-gray-600 dark:text-gray-400">{{ user_info.profession}}</p>
                {% endif %}
              {% if user_info.bio_txt %}
            <pre class="text-1xl">{{user_info.bio_txt}}</pre>
              {% endif %}
            
        </header>

        </div>
      </section>
  
      <!-- Social Media Section (Closer Icons, Centered) -->
      <section class="p-4 w-full max-w-md social">
        <div class="flex justify-center space-x-3 ">
            {% if user_info.facebook_link %}
            <a href="{{ user_info.facebook_link }}" target="_blank" class="hover:text-blue-600 ">
                <i class="fab fa-facebook-f text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.x_link %}
            <a href="{{ user_info.x_link }}" target="_blank" class="hover:text-blue-400">
                <i class="fab fa-twitter text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.linkedin_link %}
            <a href="{{ user_info.linkedin_link }}" target="_blank" class="hover:text-blue-700">
                <i class="fab fa-linkedin-in text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.instagram_link %}
            <a href="{{ user_info.instagram_link }}" target="_blank" class="hover:text-pink-500">
                <i class="fab fa-instagram text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.tiktok_link %}
            <a href="{{ user_info.tiktok_link }}" target="_blank" class="hover:text-black">
                <i class="fab fa-tiktok text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.youtube_link %}
            <a href="{{ user_info.youtube_link }}" target="_blank" class="hover:text-red-600">
                <i class="fab fa-youtube text-2xl"></i>
            </a>
            {% endif %}
            
            {% if user_info.spotify_link %}
            <a href="{{ user_info.spotify_link }}" target="_blank" class="hover:text-green-500">
                <i class="fab fa-spotify text-2xl"></i>
            </a>
            {% endif %}
        </div>
    </section>
    
      <!-- Picture and Text Section -->

      <section class="p-4 w-full max-w-md">
        {% for highlight in highlights %}
        <div class="relative mb-4">
            {% if highlight.highlight_thumbnail_image %}
            <a href="{{ highlight.link }}" target="_blank">
                <img src="{{ highlight.highlight_thumbnail_image.url }}" alt="{{ highlight.highlight_title }}" class="w-full h-64 object-cover rounded-lg">
            </a>
            {% endif %}
            
            {% if highlight.highlight_title %}
            <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white p-4 text-center rounded-b-lg">
                <a href="{{ highlight.link }}" target="_blank" class="text-white font-semibold">{{ highlight.highlight_title }}</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
    
  <section class="p-4 w-full max-w-md">
    {% include 'section_list.html' %}

  </section>

    </div>