{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

  </head>
  <body>
  <div class=" ">
    {% if user_info.background_image %}
    {% include 'designs/ownimage.html' %}
{% elif user_info.selected_template %}
    {% include user_info.selected_template with forbackground=False%}
{% endif %}
</div>
  </body>
</html>