
    <style>
        .shapes-background {
            background: linear-gradient(135deg, #f0f0f0 25%, transparent 25%) -50px 0,
                        linear-gradient(225deg, #f0f0f0 25%, transparent 25%) -50px 0,
                        linear-gradient(315deg, #f0f0f0 25%, transparent 25%),
                        linear-gradient(45deg, #f0f0f0 25%, transparent 25%);
            background-size: 100px 100px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
    
    <div class="shapes-background">
        {% if  user_info.selected_background%}
        {{user_info.selected_background}}
        {% endif %}
  {% include 'portfolio/main-info-phone.html'%} 
    </div>
    