<style>
    .checkerboard-background {
        background: linear-gradient(45deg, #eee 25%, transparent 25%),
                    linear-gradient(-45deg, #eee 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #eee 75%),
                    linear-gradient(-45deg, transparent 75%, #eee 75%);
        background-size: 70px 70px; /* Larger square size for bolder look */
        background-position: 0 0, 0 35px, 35px -35px, -35px 0px; /* Aligned with new size */
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    
    
    
</style>

<div class="checkerboard-background">

  {% include 'portfolio/main-info-phone.html'%} 
</div>
