<style>
    .neat-grid {
        background: linear-gradient(to right, #ddd 1px, transparent 1px),
                    linear-gradient(to bottom, #ddd 1px, transparent 1px);
        background-size: 50px 50px;
        padding: 20px;
        border-radius: 10px;
        color: #333;
        text-align: center;
    }
</style>

<div class="neat-grid">
    {% if  user_info.selected_background%}
    {{user_info.selected_background}}
    {% endif %}
{% include 'portfolio/main-info-phone.html'%} 
    <p>This is a neat grid background.</p>
</div>
